User#offer_activities

<%= @greeting %>, find me in app/views/user_mailer/offer_activities.text.erb


<h1>G'day sirlordmadam <%= @user.name %></h1>
<div style="display:flex;">
  <div>
    <% if @activity_one.photo.attached? %>
       <%= cl_image_tag(@activity_one.photo.key) %>
    <% else %>
      <%= image_tag "sport.jpeg", id:"img-size", class: "card-img-top" %>
    <% end %>
    <h4><%= @activity_one.title %></h4>
    <p><%= @activity_one.description %></p>
    <p>Duration: <br><%= @activity_one.duration %> minutes.</p>
    <h2> <%= link_to "Choose #{@activity_one.title} !", accepted_activity_booking_url(@booking_one) %> </h2>

  </div>
  <div>
    <% if @activity_two.photo.attached? %>
       <%= cl_image_tag(@activity_two.photo.key) %>
    <% else %>
      <%= image_tag "sport.jpeg", id:"img-size", class: "card-img-top" %>
    <% end %>
    <h4><%= @activity_two.title %></h4>
    <p><%= @activity_two.description %></p>
    <p>Duration: <br><%= @activity_two.duration %> minutes.</p>
    <h2> <%= link_to "Choose #{@activity_two.title} !", accepted_activity_booking_url(@booking_two) %> </h2>
  </div>
</div>
