<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4">
      <div id="box-dashboard">
        <div class="mybutton">
          <%= link_to "View Categories", categories_path %>
        </div>
        <div class="mybutton2">
          <%= link_to "Choose Categories", new_category_path %>
        </div>
        <div class="mybutton3">
          <%= link_to "Create activity!", new_activity_path %>
        </div>
        <p><strong>Actual weather:</strong></p>
        <%= @weather %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="contact-card flex-row flex-wrap">
      <div class="contact-card__header-image">
        <div class="contact-card__avatar">
        </div>
      </div>
      <p class="contact-card__name"><%= @current_user.name %></p>
      <ul>
        <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.address %></a></li>
        <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.created_at.strftime("%Y, %B %d") %></a></li>
        <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.preferred_day.strftime("%A") if @current_user.preferred_day %></a></li>
      </ul>
      <div id="quote">
        <div class="quote">
          <blockquote>
        <p> <%= @quote %></p>
        </blockquote>
        <cite><%= @quote_author %></cite>
          </div>
        <br>
      </div>
    </div>
        <div class="chart">
      <%= pie_chart @current_user.bookings.group(:activity).count %>
      </div>
  </div>


<div class="col-sm" id="scroll">
  <div id="feed">
    <% @user_bookings.each_with_index do |booking, i | %> <!-- begin booking iteration-->
      <div id="activity_card" class="card flex-row flex-wrap">
        <div class="card-block" style="filter: opacity( <%=  100 / (i + 1) %> );">
          <h3><%= booking.activity.title %></h3>
          <hr>
          <p> "<%= booking.activity.description %>"</p>
          <p> Category : <%= booking.activity.category.title %> </p>
          <p>Date :  </p>
          </ul>
          <span class="category_img"> </span>
          <% case %>
            <% when booking.activity.category.title == 'Sports' %>
            <%= image_tag "sports-category.png", height: '65', width: '65' %>
            <% when booking.activity.category.title == 'Reading' %>
            <%= image_tag "reading-category.png", height: '65', width: '65' %>
            <% when booking.activity.category.title == 'Lifestyle' %>
            <%= image_tag "sports-category.png", height: '65', width: '65' %>
            <% when booking.activity.category.title == 'Human' %>
            <%= image_tag "human-category.png", height: '65', width: '65' %>
            <% when booking.activity.category.title == 'Culture' %>
            <%= image_tag "culture-category.png", height: '65', width: '65' %>
            <% else %>
            <%= image_tag "logo.png", height: '65', width: '65' %>
          <% end %>
        </div>
      </div>
    <% end %> <!-- end booking iteration-->
  </div>
</div>

<div>
  <footer class="container-fluid text-center">
    <p></p>
  </footer>
  </div>
</div>


