<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4">
      <br>
      <div id="openweathermap-widget-18"></div>
        <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 18,cityid: '2800866',appid: '946bfbf42b2767701ba937cb4802fc37',units: 'metric',containerid: 'openweathermap-widget-18',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
        <br>
        <br>
      <div id="avatar-dashboard">
        <div class="user_avatar">
          <div class="col">
            <%= image_tag "", height: '200', width: '200' %>
          </div>
          <div class="row">
            <div class="col">
                Pending activities
                <hr>
                5
            </div>
            <div class="col">
                Completed activities
                <hr>
                15
            </div>
            <div class="col">
                Activities created
                <hr>
                5
            </div>
          </div>
        </div>
    <br>
  </div>
</div>

<div class="col-sm-4">
  <div class="contact-card flex-row flex-wrap">
    <div class="contact-card__header-image">
      <div id="avatarcontact">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key %>
        <% else %>
          <%= image_tag "BanderasKitty.jpg", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
      </div>
    </div>

    <p class="contact-card__name"> <%= @current_user.name %></p>
    <ul>
      <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.created_at.strftime("%Y, %B %d") %></a></li>
      <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.preferred_day.strftime("%A") if @current_user.preferred_day %></a></li>
    </ul>

    <div id="quote">
      <div class="quote">
        <blockquote>
      <p> <%= @quote %></p>
      </blockquote>
      <cite><%= @quote_author %></cite>
        </div>
      <br>
    </div>
  </div>
  <div class="chart">
    <br>
    <br>
    <%= pie_chart current_user.accepted_activities.joins(:category).group("categories.title").count %>
  </div>
</div>

<div class="col-sm">
  <div id="feed">
    <% @user_bookings.each_with_index do |booking, i | %> <!-- begin booking iteration-->
    <div id="activity_card" class="card">
      <div class="card-block" style="filter: opacity( <%=  100 / (i + 1) %>% );">
        <div>
            <div class="row">
                <div class="col-sm">
                  <h4 class="booking-title"> <%= booking.activity.title %></h4>
                </div>
              <div class="col-sm">
                <% case %>
                <% when booking.activity.category.title == 'Sports' %>
                <%= image_tag "sports-category.png", height: '35', width: '35', position: 'right' %>
                <% when booking.activity.category.title == 'Reading' %>
                <%= image_tag "reading-category.png", height: '35', width: '35', position: 'right' %>
                <% when booking.activity.category.title == 'Lifestyle' %>
                <%= image_tag "sports-category.png", height: '35', width: '35', position: 'right' %>
                <% when booking.activity.category.title == 'Human' %>
                <%= image_tag "human-category.png", height: '35', width: '35', position: 'right' %>
                <% when booking.activity.category.title == 'Culture' %>
                <%= image_tag "culture-category.png", height: '35', width: '35', position: 'right' %>
                <% else %>
                <%= image_tag "logo.png", height: '35', width: '35' %>
                <% end  %>
              </div>
          </div>
        </div>
        <hr>
        <p> "<%= booking.activity.description %>"</p>
        <p> Category : <%= booking.activity.category.title %> </p>
      <span class="badge badge-success">DONE</span>
      </div>

    </div>

    <br>
    <% end %> <!-- end booking iteration-->
  </div>

</div>

<div>
  <footer class="container-fluid text-center">
    <p></p>
  </footer>
  </div>
</div>
