<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4">
      <br>
      <br>
      <div id="box-dashboard">
        <button class="btn"><%= link_to "View Categories", categories_path %></button>
        <button class="btn"><%= link_to "Choose Categories", new_category_path %></button>
        <button class="btn"><%= link_to "Create activity!", new_activity_path %></button>
        <p><%= @quote %></p>
    </div>
  </div>
  <div class=" col-sm-4">
      <br>
      <br>
    <div class="contact-card">
      <div class="contact-card__header-image">
        <div class="contact-card__avatar">
        </div>
      </div>
      <p class="contact-card__name"><%= @current_user.name %></p>
      <ul>
        <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.address %></a></li>
        <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.created_at.strftime("%Y, %B %d") %></a></li>
        <li class="contact-card__link contact-card__link--mobile"><a><%= @current_user.preferred_day.strftime("%A") if @current_user.preferred_day %></a></li>
      </ul>
    </div>
  </div>


<div id="feed" class="col-sm">
  <% current_user.bookings.each_with_index do |booking, i | %>
  <div id="activity_card" class="card flex-row flex-wrap">
    <div class="card-block" style="filter: opacity( <%=  100 / (i + 1) %>% );">
      <h4> "<%= booking.activity.description %>"</h4>
      <p> Category : <%= booking.activity.category.title %> </p>
      <p>Activity Title : "<%= booking.activity.title %>"</p>
      <p>Date : dd/mm/yyyy </p>
        <span class="category_img"> </span>
        <% case %>
        <% when booking.activity.category.title == 'Sports' %>
        <%= image_tag "sports-category.png", height: '65', width: '65' %>
        <% when booking.activity.category.title == 'Reading' %>
        <%= image_tag "reading-category.png", height: '65', width: '65' %>
        <% when booking.activity.category.title == 'Lifestyle' %>
        <%= image_tag "sports-category.png", height: '65', width: '65' %>
        <% when booking.activity.category.title == 'Human' %>
        <%= image_tag "human-category.png", height: '65', width: '65' %>
        <% when booking.activity.category.title == 'Culture' %>
        <%= image_tag "culture-category.png", height: '65', width: '65' %>
        <% else %>
        <%= image_tag "logo.png", height: '65', width: '65' %>
        <% end  %>

        <div class="badge">
          <% if booking.status == 'completed' %>
          <span class="badge badge-success">DONE</span>
        <% else  %>
          <span class="badge badge-danger">LOOSER</span>
          <% end  %>
        </div>
    </div>
  </div>
  <% end %>
<div>

<div>
  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
  </div>
</div>

