<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-4">
      <button class="btn"><%= link_to "View Categories", categories_path %></button>
      <button class="btn"><%= link_to "Choose Categories", new_category_path %></button>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
  <div class=" col-sm-4">
      <br>
      <br>

<div id="box-dashboard">
  <div class="row justify-content-center">
    <div id="profile_dashboard"> <%= cl_image_tag @user.photo.key %></div>
      <h4>User name :  <%=@current_user.name %> </h4>
      <h4>User address :  <%=@current_user.address %> </h4>
      <h4>Member since :  <%=@current_user.created_at.strftime("%Y, %B %d") %> </h4>
      <h4>Prefered day :  <%=@current_user.preferred_day.strftime("%A") %> </h4>
    </div>
  </div>
      <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
         labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
      <h3>Test</h3>
      <p>Lorem ipsum...</p>
</div>


<div id="feed" class="col-sm">
  <div id="activity_card" class="card flex-row flex-wrap">
    <%= image_tag "sports_logo.png" , height: '42', width: '42'%>
  <div class="card-block px-2">
    <p>"Playing Ping Pong with a colleague"</p>
    <p>Category : Sports</p>
    <p>Date : DD/MM/YYYY</p>
    <span class="badge badge-success">DONE</span>
  </div>
  <br>
</div>


</div>
  <footer class="container-fluid text-center">
    <p>Footer Text</p>
  </footer>
</div>


</div>
