<div class="loginpage">
  <div class="login-page">
    <div class="form">
      <h1 style="color: white">
        Create an Activity
      </h1>
      <%= simple_form_for @activity do |f| %>
      <p><%= f.input :title %></p>
      <p><%= f.input :description %></p>
      <p><%= f.input :duration %></p>
      <p><%= f.input :photo, as: :file %></p>
        <%= f.submit "Create", class: "btn" %>
      <% end %>
      <%= link_to "Back to Dashboard", dashboard_path %>
    </div>
  </div>
</div>
