<%= simple_form_for @activity do |f| %>
  <p><%= f.input :title %></p>
  <p><%= f.input :description %></p>
  <p><%= f.input :duration %></p>
  <p><%= f.input :photo, as: :file %></p>
<%= f.submit %>
<% end %>
