<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path(current_user), class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="navbar-btn">
          <% if current_user.admin %>
            <button class="btn"><%= link_to "Review user submitted activities", activities_for_approval_path %></button>
          <% end %>
          <button class="btn"><%= link_to "View Pending Activities", custom_activities_path %></button>
          <button class="btn"><%= link_to "Create activity!", new_activity_path %></button>
          <button class="btn"><%= link_to "View Categories", categories_path %></button>
          <button class="btn"><%= link_to "Settings", edit_user_registration_path(current_user) %></button>
          <button class="btn"><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></button>
        </li>
        <li class="nav-item dropdown">
          <div class="userimg">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "BanderasKitty.jpg", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </div>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            </div>
          </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
