<div class="loginpage">
  <div class="umumi">
  <span class="text1">WELCOME TO</span>
  <span class="text2">SMALL-THINGS</span>
  </div>
  <div class="login-page">
    <div class="form">
      <h1 style="color: white">Sign up</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.error :base %>
            <%= f.input :email, required: false, autofocus: true, placeholder: "bob@gmail.com" %>
            <%= f.input :password, required: false, placeholder: "••••••" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          <div class="form-actions">
            <%= f.button :submit, "Log in" %>
          </div>
          <% end %>
          </div>
        <p class="message">Not registered? <%= link_to "Sign up", new_registration_path(resource_name) %> </p>
    </div>
  </div>
</div>
