<div class="container">
  <div class="card-deck">
    <div class="card mxy-2">
      <%= image_tag "sport.jpeg", id:"img-size", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Sports</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="card mxy-2">
      <%= image_tag "culture.jpeg", id:"img-size", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Culture</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="card mxy-2">
      <%= image_tag "lifestyle.jpeg", id:"img-size", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Lifestyle</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="card mxy-2">
      <%= image_tag "human.jpeg", id:"img-size", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Human</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="card mxy-2">
      <%= image_tag "reading.jpeg", id:"img-size", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Reading</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
    <div class="card mxy-2">
      <%= image_tag "logo.png", id:"img-size", class: "card-img-top" %>
      <div class="card-body">
        <h4 class="card-title">Custom</h4>
        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>
</div>
