<div class="container">
  <h1>Activities:</h1>
  <% @categories.each do |category| %> <!-- Begin iteration -->
    <h2><i><%= category.title %> :</i></h2>
    <div class="card-deck">
    <% category.activities.where().not(status: 'pending').where().not(status: 'denied').each do |activity| %> <!-- Begin iteration -->
      <div class="card my-3">
        <% if activity.photo.attached? %>
           <%= cl_image_tag activity.photo.key %>
        <% else %>
          <%= image_tag "sport.jpeg", id:"img-size", class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h4 class="card-title"><%= activity.title %></h4>
          <p class="card-text"><%= activity.description %></p>
          <p class="card-text">Duration: <br><%= activity.duration %> minutes.</p>
          <button class="btn btn-primary"><%= link_to "See activity", activity_path(activity) %></button>
        </div>
      </div>
    <% end %> <!-- end of iteration -->
  </div>
  <% end %> <!-- end of iteration -->
</div>
