<div class="container">
  <div class="card-deck">
    <div class="card my-3">
      <%= cl_image_tag @activity.photo.key if @activity.photo.attached? %>
      <div class="card-body">
      <h1> <%= @activity.title %></h1>
        <p class="card-text"> <%= @activity.description %></p>
        <% if @activity.duration > 1 %>
          <p class="card-text"> <%= @activity.duration %> minutes.</p>
        <% else %>
          <p class="card-text"> <%= @activity.duration %> minute.</p>
        <% end %>
        <button class="btn btn-primary" type="button">Button</button>
      </div>
    </div>
  </div>
</div>
